@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Lato:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Lato:ital,wght@1,300&display=swap');

body{
background: url(Background_image.jpg);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
z-index: -1;
}
.upper-content{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lower-content{

}
img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.links{
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;

}
.h1tag{
  text-decoration: none;
  color: #FFF;
  max-width: 300px;
  color: white;
  font-style: none ;
  font-family: 'Lato' , sans-serif;
}
button,button:visited{
  font-size: 1.4rem;
  background-color: #DDA0DD;
  color: #1d1160 ;
  box-shadow: 4px 4px #720e9e;
  width: 200px;
  padding: 0.3rem ;
  border: none;
  font-family: 'Lato' , sans-serif;
}
button:hover{
  background-color: #7743DA;
  transition: 0.55s ;
  cursor: pointer;
  color: white;
}
